@page
@model Store.Presentation.Areas.Admin.Pages.MainPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<header>
    <ul>
        <li><button><a asp-page="UsersPage" asp-area="Admin">User Managment</a></button></li>
        <li><button><a asp-page="OrdersPage" asp-area="Admin">Order Managment</a></button></li>
        <li><button><a asp-page="AuthorsPage" asp-area="Admin">Authors Managment</a></button></li>
        <li><button><a asp-page="PrintingEditionsPage" asp-area="Admin">Printing Edition Managment</a></button></li>
    </ul>
</header>
<button><a asp-page="LoginPage" asp-area="Admin">Sign In</a></button>
<form method="post">
    <input type="submit" value="Sign Out" />
</form>