<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="book">menu_book</mat-icon>
    <div class="company">Book Publishing Company</div>

    <div class="right-button">

      <a class="test" class="company" routerLink="/administrator/clients">Test</a>

      <a class="company" *ngIf="userId===undefined" routerLink='/sign-in'>Log in</a>


      <button mat-icon-button>
        <mat-icon>
          person_outline
        </mat-icon>
      </button>

      <button mat-icon-button *ngIf="userId!==undefined" (click)="cart()">
        <mat-icon>
          shopping_cart
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>