<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="book" routerLink="">menu_book</mat-icon>
    <div class="company" routerLink="">Book Publishing Company</div>

    <div class="right-button">

      <a class="company" *ngIf="userId===undefined" routerLink='/sign-in'>Log in</a>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon> person_outline </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="profile">My Profile</button>
        <button mat-menu-item routerLink="orders">My Orders</button>
        <button mat-menu-item (click)="logOut()" routerLink="">Log Out</button>
      </mat-menu>

      <button mat-icon-button *ngIf="userId!==undefined" (click)="cart()">
        <mat-icon>
          shopping_cart
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>