<div>
  <mat-card class="card">

    <mat-card-title>
      <mat-icon>person</mat-icon>
    </mat-card-title>
    <p></p>
    <mat-card-content class="content">
      <h3>Sign In</h3>
      <form [formGroup]="userForm" autocomplete="off" novalidate>

        <p>E-mail</p>
        <p>
          <mat-form-field class="label-width" appearance="outline">
            <label>
              <input formControlName="email" matInput type="email">
            </label>
            <mat-error *ngIf="hasError('email', 'required')">
              Email is required!
            </mat-error>
          </mat-form-field>
        </p>

        <p>Password
          <a class="forgot" routerLink="/password-recovery">Forgot your password?</a>
        </p>
        <p>
          <mat-form-field class="label-width" appearance="outline">
            <label>
              <input formControlName="password" matInput type="password">
            </label>
            <mat-error *ngIf="hasError('password', 'required')">
              Password is required!
            </mat-error>
          </mat-form-field>
        </p>

      </form>
    </mat-card-content>
    <mat-card-actions class="content">
      <p>
        <mat-checkbox [(ngModel)]="remember">Remember Me</mat-checkbox>
        <button type="submit" [disabled]="!userForm.valid" class="sign-in" (click)="submit(userForm.value)"
          mat-raised-button>Sign-In</button>
      </p>
    </mat-card-actions>
    <p>
      <label>New to Book Publishing Company?</label><br>
      <a class="button-sign-up" routerLink="/sign-up" mat-raised-button>Sign Up</a>
    </p>
    <div>
      <h2>External Providers</h2>
      <div style="padding: 20px;">
        <button class="btn btn-info" type="button" (click)="externalLogin()">Google</button>
      </div>
    </div>
  </mat-card>
</div>