<div>
    <h3 mat-dialog-title>Shop name</h3>
    <div mat-dialog-content [formGroup]="paymentForm">
            <mat-form-field class="form-width" appearance="outline">
                <label>
                    <input formControlName="cardnumber" matInput type="text" placeholder="Card number">
                </label>
                <mat-error align="end" *ngIf="hasError('cardnumber', 'required')">
                    Please enter Your Card Number
                </mat-error>
                <mat-error align="end" *ngIf="hasError('cardnumber', 'pattern')">
                    Length must be equal 16 and has only digits
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-width" appearance="outline">
                <label>
                    <input formControlName="month" matInput type="number" placeholder="Month">
                </label>
                <mat-error align="end" *ngIf="hasError('month', 'required')">
                    Please enter card month
                </mat-error>
                <mat-error align="end" *ngIf="hasError('month', 'min')">
                    Month cannot be less than 0
                </mat-error>
                <mat-error align="end" *ngIf="hasError('month', 'max')">
                    Month cannot be more than 12
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-width" appearance="outline">
                <label>
                    <input formControlName="year" matInput type="number" placeholder="Year">
                </label>
                <mat-error align="end" *ngIf="hasError('year', 'required')">
                    Please enter card year
                </mat-error>
                <mat-error align="end" *ngIf="hasError('year', 'min')">
                    Year cannot be less than 0
                </mat-error>
                <mat-error align="end" *ngIf="hasError('year', 'max')">
                    Year cannot be more than 99
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-width" appearance="outline">
                <label>
                    <input formControlName="cvc" matInput type="number" placeholder="CVC">
                </label>
                <mat-error align="end" *ngIf="hasError('cvc', 'required')">
                    Please enter Your cvc
                </mat-error>
                <mat-error align="end" *ngIf="hasError('cvc', 'min')">
                    Cvc cannot be less than 0
                </mat-error>
                <mat-error align="end" *ngIf="hasError('cvc', 'max')">
                    Cvc cannot be more than 999
                </mat-error>
            </mat-form-field>

            <p>
                <button class="button" mat-raised-button (click)="submit(paymentForm.value)" type="submit">Pay</button>
            </p>
    </div>
</div>