<mat-card>
    <mat-card-title>Catalog
        <input class="right" [(ngModel)]="searchText" (ngModelChange)="applyFilter()"
            placeholder="Search by book title, by author">
    </mat-card-title>
    <mat-card-content>
        <div class="menu">
            <div> Categories <br>
                <input type="checkbox" [(ngModel)]="bookBox" (ngModelChange)="applyFilter()"> Books<br>
                <input type="checkbox" [(ngModel)]="journalBox" (ngModelChange)="applyFilter()"> Journal<br>
                <input type="checkbox" [(ngModel)]="newspaperBox" (ngModelChange)="applyFilter()"> Newspaper<br>
                <hr>
                Price<br>
                <input type="number" [ngModel]="lowValue" > - <input type="number" [(value)]="highValue">$ <button
                    mat-raised-button (click)="applyFilter()">OK</button><br>
                <ngx-slider [(value)]="lowValue" [(highValue)]="highValue" [options]="option"
                    (userChangeEnd)="applyFilter()"></ngx-slider>
            </div>
        </div>
        <div class="right">
            <div class="line"></div>
            <div class="underTopLine">
                Currency
                <mat-form-field appreance="fill">
                    <mat-select [(value)]="selectedCurrency">
                        <mat-option *ngFor="let currency of currencies|enumToArray" [value]="currency">
                            {{currency}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                Sort by
                <mat-form-field appreance="fill">
                    <mat-select [(value)]="selectedSort">
                        <mat-option *ngFor="let sort of sortBy" [value]="sort">
                            {{sort}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-grid-list class="table" cols="3" rowHeight="1.3:1">
                    <mat-grid-tile *ngFor="let pE of printingEditionsData | paginate: { id:'idPaginator', itemsPerPage:pageParameters.itemsPerPage,
                    currentPage:pageParameters.currentPage, totalItems:pageParameters.totalItems}">
                        <ul>
                            <mat-icon class="icon">chrome_reader_mode</mat-icon>
                            <li>{{pE.title}}</li>
                            <li>{{pE.authors}}</li>
                            <li>{{pE.price}}</li>
                        </ul>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

    </mat-card-content>
    <div class="paginator">
        <pagination-controls id="idPaginator" (pageChange)="pageChanged($event)"> </pagination-controls>
    </div>
</mat-card>