<mat-card>
    <mat-card-title>Catalog</mat-card-title>
    <mat-card-content>
        <div class="left">
            <mat-icon class="icon">chrome_reader_mode</mat-icon>
            <div class="title">
                <label>{{printingEdition?.title}}</label><br>
                <label>{{printingEdition?.authors}}</label>
            </div>

        </div>
        <div class="right">
            Qty: <input type="number" class="count">
            <label class="money">100$</label> <br><br>
            <button class="button">
                <mat-icon>shopping_cart</mat-icon>Add to Cart
            </button>
        </div>
        <div class="bottom">
            <label>{{printingEdition?.description}}</label>
        </div>
    </mat-card-content>
</mat-card>