<div mat-dialog-content>
    <h1 *ngIf="!addForm">Edit Author</h1>
    <h1 *ngIf="addForm">Add new Author</h1>

    <form [formGroup]="form">
        <p>First name</p>
        <mat-form-field class="width" appearance="outline">
            <label>
                <input formControlName="firstName" matInput type="text">
            </label>
        </mat-form-field>
        <br>
        <p>Last name</p>
        <mat-form-field class="width" appearance="outline">
            <label>
                <input formControlName="lastName" matInput type="text">
            </label>
        </mat-form-field>
        <br>
        
    </form>
    <div>
        <button mat-raised-button (click)="cancel()" type="reset">Cancel</button>
        <button class="save" mat-raised-button (click)="submit(form.value)" type="submit">Save</button>
    </div>
</div>