<mat-card class="card">
    <mat-card-title>
        <mat-icon class="icon">person</mat-icon>
    </mat-card-title>
    <mat-card-content class="content">
        <h3>Create account</h3>
      <form >
        <p>
          Your First name</p>
          <mat-form-field class="form-width" appearance="outline">
            <label >
              <input formControlName="firstName" matInput>
            </label>

          </mat-form-field>
        
  
        <p>
          Your Last name</p>
          <mat-form-field class="form-width" appearance="outline">
            <label >
              <input formControlName="lastName" matInput>
            </label>

          </mat-form-field>
        
  
        <p>
          Email</p>
          <mat-form-field class="form-width" appearance="outline">
            <label >
              <input formControlName="email" matInput type="email">
            </label>

          </mat-form-field>
        
  
        <p>
          Password</p>
          <mat-form-field class="form-width" appearance="outline">
            <label >
              <input formControlName="password" matInput type="password">
            </label>

          </mat-form-field>
        
  
        <p>
          Confirm password</p>
          <mat-form-field class="form-width" appearance="outline">
            <label >
              <input ngValidateEqual="password" formControlName="confirmPassword" matInput type="password">
            </label>

          </mat-form-field>
        
  
        <p>
          <button class="button" mat-raised-button type="submit">Sign Up your account</button>
        </p>
  <p></p>
        <p>
          <label>Already have an account?</label>
          <a routerLink="">Sign-In</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
  