<mat-card>
    <mat-card-title>Authors Page
        <mat-icon class="right" (click)="addAuthor()">add_circle</mat-icon>
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="authorsData | paginate: { id:'idPaginator', itemsPerPage:pageParameters.itemsPerPage,
         currentPage:pageParameters.currentPage, totalItems:pageParameters.totalItems}" class="mat-elevation-z8">
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>
                    Id <mat-icon class="pointer" [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
                    <mat-menu #menu="matMenu">
                        <input type="text" [(ngModel)]="searchText" (ngModelChange)="applyFilter($event, 'id')"
                            mat-menu-item placeholder="search" />
                    </mat-menu>
                    <mat-icon class="pointer" (click)="reverse('id')">unfold_more</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name
                    <mat-icon class="pointer" [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
                    <mat-menu #menu="matMenu">
                        <input type="text" [(ngModel)]="searchText" (ngModelChange)="applyFilter($event,'name')"
                            mat-menu-item placeholder="search" />
                    </mat-menu>
                    <mat-icon class="pointer" (click)="reverse('name')">unfold_more</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element">
                    <li *ngFor="let item of element.printingEditions"> {{item}} </li>
                    <mat-icon class="right" (click)="deleteAuthor(element)">highlight_off</mat-icon>
                    <mat-icon class="right" (click)="editAuthor(element)">edit</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <pagination-controls id="idPaginator" (pageChange)="pageChanged($event)"> </pagination-controls>
    </mat-card-content>
</mat-card>